<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Planet Mars News</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <style>
        .news {
                padding-left: 3%;
                }
        figcaption {font-size: 20px; 
                    font-weight: bold;
                }
        h2 {
           font-family:Arial, Helvetica, sans-serif; font-weight: bolder;
        }
        figure {
            border: 5px solid #555;
        }
  </style>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Planet Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data!</a></p>
        </div>
   
        <div class = "row news"> <!-- Start of latest news row-->

         <h2 > Latest Mars News</h2>
         
         <h3 style="font-weight: bold; font-size: 20px;">{{data.news_title}}</h3>
         
         <p>{{data.news_p}}</p>   

        </div> <!-- End of latest news row-->
        <div class = "row news">  <!-- Start of featured figure and table row-->
            <div class = "col-md-7">
                <h3 style="font-weight: bold; font-size: 20px;">Featured Mars Image</h3>    
            <img src="{{ data.featured_image }}" alt="Featured_Image" width="100%">
            </div>
            <div class = "col-md-5">
                <h3 style="font-weight: bold; font-size: 20px;">Mars Facts</h3>   
            {{data.table|safe}}
            </div>
        </div>
        <div class = "container-fluid news" style="padding-right: 10%; padding-left: 10%;">  <!-- Start of hemisphere container-->
            
            <h2 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-weight: bolder;">Mars Hemispheres</h2>
            <hr>
            <div class ='row' style="padding-bottom: 5%";>
                <div class = "col-md-6"> 
                    <figure>
                    <img src="{{ data.hemispheres[0].img_url}}" alt="Hemisphere_Image1" width="100%">
                    <figcaption>{{ data.hemispheres[0].title}}</figcaption>
                    </figure>
                </div>
                <div class = "col-md-6">
                    <figure>
                        <img src="{{ data.hemispheres[1].img_url}}" alt="Hemisphere_Image2" width="100%">
                        <figcaption>{{ data.hemispheres[1].title}}</figcaption>
                    </figure>
                </div>
            </div>

            <div class ='row'style="padding-bottom: 5%"> 
                <div class = "col-md-6"> 
                    <figure>
                        <img src="{{ data.hemispheres[2].img_url}}" alt="Hemisphere_Image3" width="100%">
                        <figcaption>{{ data.hemispheres[2].title}}</figcaption>
                    </figure>
                </div>
                <div class = "col-md-6">
                        <figure>
                            <img src="{{ data.hemispheres[3].img_url}}" alt="Hemisphere_Image4" width="100%">
                            <figcaption>{{ data.hemispheres[3].title}}</figcaption>
                        </figure>
                </div>
            </div>

        </div>
    
    </div>
  
  
</body>

</html>
